DaeBang/backend/uploads/*
DaeBang/backend/node_modules/*
DaeBang/frontend/node_modules/*

LogForMe/backend/logs/*
LogForMe/backend/uploads/*
LogForMe/backend/node_modules/*
LogForMe/frontend/node_modules/*

Portfolio/backend/tmp/*
Portfolio/backend/node_modules/*
Portfolio/frontend/node_modules/*
